# Environments
venv/
.env

# Python
__pycache__/
*.py[cod]
*$py.class

# Database and Downloads
database/
*.parquet
*.sqlite
*.db

# Metadata (Allow dukas_assets.csv)
!metadata/dukas_assets.csv

# OS Files
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# IDEs
.vscode/
.idea/
.ruff_cache/

# AI
.agents/

